@media only screen and (max-width: 800px){.desk{display: none;}}
@media only screen and (min-width: 800px){.mobile{display: none;}}

.uppercase{text-transform: uppercase;}
.lowcase{text-transform: lowercase;}



.links{text-decoration:none;color:#069;}.links:hover{font-size:120%;}/*.aleft{}.aright{}*/

/*

	não se assuste, é tudo improviso kkkkkkkkkkk

	ainda estou tentando aprender como faz isso

	não me xinguem :)

	IMPORTANTE:  estou fazendo tudo só com html+css

	adicionei alguns comentários caso queira alguma coisa que viu no site

*/


/*		BOTÃO PARA SUBIR A PÁGINA - AINDA TESTANDO		*/

/*
.menusec{

	height: 0px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: left;
	background-color: none;
	font-size: 10px;

}

.menusec ul li a{

	position: fixed;
	text-decoration: none;
	color: #222;

}

.menusec ul li{

	background-color: none;

}
*/


/*		hover texto do menu		*/

/*	ton-topo; 	toff-voltar...	*/

/*
.menusec .toff{height: 0px;}
.menusec .toff{display: none;}
.menusec .toff:hover{transition: .3s;	max-height: 20px;}
.menusec:hover .ton{ max-height: 20px; display: none;}
.menusec:hover .toff{transition: .1s; display: block;}
*/

/*UP Button desligado*/
.upbot{display: none;}

.upbot{

	bottom: 30px;
	position: fixed;
	right: 30px;
	height: 30px;
	width: auto;

}

.upbot:hover{

	transition: .7s;
	height: 50px;
	width: auto;

}


.icons1{display: none;}

.icons{

	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 10px;

}

.icons img{

	cursor: pointer;
	transition: .7s;
	width: 70px;
	height: auto;
	margin-left: 10px;

}

@media only screen and (max-width: 800px){.icons{display: none;} .r30p{margin-right: 10px;} .icons1{

	display: block;
	position: absolute;
	right: 10px;
	margin-top: 22.5px;

}}}




/*		BOTÃO PARA SUBIR A PÁGINA TESTE2 - OFF		.upbot{}*/


/*		CORPO NEH PAE KKKKKKKKKKK		*/

body{

	height: 9900px;

}


/*RESET*/

* {

	font-family: Arial;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;

}


/*		ISSO AQUI É PRO EFEITO DO SCROLL FICAR SUAVE NO MENUSEC 		*/

html{

	scroll-behavior: smooth;

}




/*		CONFIGURAÇÕES DO MENU 1		*/


/*
.menu{

	width: 100%;
	height: 50px;
	background-color: #222;

}
*/

.menu{

	width: 100%;
	height: 50px;
	background-color: #222;


}

/*
.menu ul{

	list-style: none;
	position: relative;

}
*/

.menu ul{

	list-style: none;
	position: relative;

}

.menu ul li{

	width: 150px;
	float: left;

}

.menu a{

	height: 20px;
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #222;
	color: #fff;

}

.menu ul ul{

	position: absolute;
	visibility: hidden;

}

.menu ul li:hover ul{

	visibility: visible;


}


/*		CONFIGURAÇÕES DOS LINKS DO MENU 1		*/

.menu a:hover{

	background-color: #f4f4f4;
	color: #555;

}


/*		CONFIGURAÇÕES DOS MENUS PRINCIPAIS  		*/

.menu1:hover{

	transition: .4s;
	font-size: 120%;

}


/*		CONFIGURAÇÕES DOS MENUS DROPDOWN 		*/

.menu ul ul li{

	float: none;
	border-bottom: solid 1px #ccc;

}

/*		CONFIGURAÇÕES DOS MENUS DROPDOWN NORMAIS	

.menu ul ul li a{background-color: #069;}*/

.menu ul ul li a{

	background-color: #363636;

}


/*		CONFIGURAÇÕES DOS MENUS DROPDOWN ESPECIAIS		*/


.menu ul ul li:hover .zapmenu1{	transition: .4s;	background-color: green;	color: #fff;}









/*		OUTRAS CONFIGURAÇÕES DE HOVER DO MENU		*/




/*		WHATSAPP		*/

.menu ul ul li .zapmenu12{display: none;}
.menu ul ul li:hover .zapmenu12{	transition: .4s;	background-color: green;	color: #fff;	display: block;}
.menu ul ul li:hover .zapmenu1{	display: none;}



/*		E-MAIL		*/

.menu ul ul li .mailmenu12{display: none;}
.menu ul ul li:hover .mailmenu12{transition: .4s; display: block; background-color: #069; color: #fff;}
.menu ul ul li:hover .mailmenu1{display: none;}



/*		BOTÃO INICIO		*/

.menu ul li #inicio1 {display: none;}
.menu ul li:hover #inicio1{transition: .4s;display: block;}
.menu ul li:hover #inicio{display: none;}



/*		PAGAMENTO - PAGAR COM		*/

.menu ul li #pagarcom2 {display: none;}
.menu ul li:hover #pagarcom2{background-color: #f1f1f1;color: #222;transition: .4s;display: block;}
.menu ul li:hover #pagarcom1{display: none;}



/*		MÉTODO DE PAGAMENTO		*/

.menu ul ul li #pagar2{display: none;}
.menu ul ul li:hover #pagar2{transition: .4s;display: block;}
.menu ul ul li:hover #pagar1{display: none;}



	
/*		GRUPOS		*/

.menu ul li #gps2 {display: none;}
.menu ul li:hover #gps2{	background-color: #f1f1f1;	color: #222;	transition: .4s;	display: block;}
.menu ul li:hover #gps1{	display: none;}



/*		CONTATOS		*/

.menu ul li #contato1 {display: none;}
.menu ul li:hover #contato1{	background-color: #f1f1f1;	color: #222;	transition: .4s;	display: block;}
.menu ul li:hover #contato2{	display: none;}



/*FIM DOS HOVERS*/

/*		FIM DAS CONFIGURAÇÕES DOS MENUS 		*/









/*		CONFIGURAÇÕES DE RESPONSIVIDADE DOS MENUS PARA MOBILE E TELAS MENORES		*/


label[for="bt_menu"]{

	padding: 5px;
	background-color: #222;
	color: #fff;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	width: 50px;
	height: 50px;

}
#bt_menu{

	display: none;

}

label[for="bt_menu"]{

	display: none;

}

@media(max-width: 800px){

.menusec{display: none;}

label[for="bt_menu"]{

	margin-top: 30px;
	display: block;

}

#bt_menu:checked ~ .menu{

	margin-left: 0;
	
}

	.menu{

		margin-top: 5px;
		margin-left: -100%;
		transition: all .4s;
		position: fixed;

	}

	.menu ul li{

		width: 100%;
		float: none;

	}
	.menu ul ul{

		position: static;
		overflow: hidden;
		max-height: 0;
		transition: .4s;

	}

	.menu ul li:hover ul{

		height: auto;
		max-height: 200px;

	}

}



/*		FIM DE TODAS CONFIGURAÇÕES DO MENU 1		*/





/*		CONFIG BOTÕES DE DOWNLOAD		*/

.download{}



/*		HOVER BOTÕES DE DOWNLOAD		*/

.download{}



/*		BOTÕES DE DOWNLOAD ATIVOS		*/

.download{}





/*		FIM DAS CONFIG BOTÕES DE DOWNLOAD		*/


